/* global styles */
body {
    background-color: #fff;
    color: #627382;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: #ffffff;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
}

.btn:hover {
    opacity: 0.8;
}

.btn-secondary {
    background: transparent;
    border-color: #00FF88;
    color: #00FF88;
}

/* Navbar */
nav {
    background-color: #1A0B2E;
    border-bottom: 1px solid #412567;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 92px;
}

.logo {
    max-width: 220px;
}

.logo img {
    max-width: 100%;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hamburger-menu {
    display: none;
}

@media screen and (max-width: 576px) {
    .main-nav {
        min-height: 60px;
    }

    .nav-links {
        display: none;
    }

    .main-nav .btn {
        display: none;
    }

    .logo {
        max-width: 132px;
    }

    .hamburger-menu {
        display: block;
    }
}

/* banner Section */
.banner-section {
    background: url(../assets/hero-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}

.banner-content {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.banner-content h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero-circle {
    position: relative;
    margin: 0 auto;
    background: url(../assets/hero-circle.png) no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.hero-circle img {
    max-width: 100%;
}

.hero-circle span {
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    background-color: #00FF88;
    font-size: 18px;
    color: #1A0B2E;
    border-radius: 1000px;
    font-weight: 500;
    padding: 8px 16px;
}

@media screen and (max-width: 576px) {
    .banner-section {
        padding: 20px 0;
    }

    .banner-content h2 {
        font-size: 40px;
    }

    .hero-circle {
        width: 200px;
        height: 200px;
        margin-bottom: 10px;
    }

    .hero-circle img {
        width: 46px;
    }

    .hero-circle span {
        position: absolute;
        right: 0;
    }
}

/* About Section */
.about-section {
    background-color: #1A0B2E;
    padding: 50px 0 120px 0;
}

.about-content {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #412567;
    padding-bottom: 60px;
    margin-bottom: 80px;
}

.about-content h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.about-item h3 {
    font-size: 48px;
    color: #00FF88;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-item p {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    .about-section {
        padding: 40px 0;
    }

    .about-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .about-content {
        margin-bottom: 40px;
        padding-bottom: 30px;
    }

    .about-item h3 {
        font-size: 40px;
    }

    .about-content h2 {
        font-size: 32px;
    }
}

/* Why Choose Section */
.why-section {
    background-color: #230E3D;
    padding: 120px 0;
}

.why-section h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.why-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.why-item {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.why-item img {
    margin-bottom: 20px;
}

.why-item h3 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.why-item p {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

.why-item:nth-child(1) {
    grid-row: span 2;
}

.why-item:nth-child(2) {
    grid-column: span 2;
}

.why-item:nth-child(3) {
    grid-column: span 2;
}

.why-item:nth-child(4) {
    grid-column: span 2;
}

@media screen and (max-width: 576px) {

    .why-section {
        padding: 40px 0;
    }

    .why-section h2 {
        font-size: 32px;
    }

    .why-items {
        grid-template-columns: 1fr;
    }

    .why-item {
        border-radius: 24px;
        padding: 24px;
    }

    .why-item h3 {
        font-size: 22px;
    }

    .why-item:nth-child(1),
    .why-item:nth-child(2),
    .why-item:nth-child(3),
    .why-item:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }
}