/* global styles */
body {
    background-color: #fff;
    color: #627382;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 200px;
}

.btn {  
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: #ffffff;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;
}

.btn:hover {
    opacity: 0.8;
}

.btn-secondary {
    background-color: transparent;
    border-color: #fff;
}